body {
    background-color: rgb(170, 170, 170) !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(170, 170, 170) !important;
}

.question-footer {
    display: flex;
    justify-content: space-between;
}