body {
    background-color: rgb(170, 170, 170) !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(170, 170, 170) !important;
}

.question-footer {
    display: flex;
    justify-content: space-between;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.bg-success, .bg-danger {
    color: white;
}

.w-100 img{
    width: 100%;
}